body{
	margin: 0;
	width: 100%;
	overflow-X: hidden;
   
}
/* header */
.header-princip{
	width: 100%;
	position: absolute;
	height: 250px;
}

.divulgacao{
   
	position: absolute;
	width: 100%;
	height: 70px;
	background: red;
	bottom:72%;
}

#pd{
	position: relative;
	bottom:8px;
	color: white;
	margin-left: 20px;
	font-weight: 700;
	font-family: "Segoe UI";
}
.icon-fac{
	position: absolute;
	width: 27px;
	height: 27px;
	left: 89% ;
	bottom: 34px;
	border: white 2px solid;
	border-radius: 15px;
	background: white;
}
.icon-fac:hover{
	background: blue;
	width: 28px;
	height: 28px;
}
.icon-you{
	position: absolute;
	width: 27px;
	height: 27px;
	left: 92% ;
	bottom: 34px;
	border: white 2px solid;
	border-radius: 15px;
	background: white;
}
.icon-you:hover{
 background: red;
 width: 28px;
 height: 28px;
}
.icon-ins{
	position: absolute;
	width: 27px;
	height: 27px;
	left: 95% ;
	bottom: 35px;
	border: white 2px solid;
	border-radius: 15px;
	background: white;
}
.icon-ins:hover{
  background: blue;
  width: 28px;
  height: 28px;
 

}

#header{

    position: relative;
    width: 100%;
    height: 50px;
    background: white;
	bottom: -39px;
	
}
#imgIcon {
    width: 30px;
    height: 30px;
    border-radius: none;
    position: absolute;
    
}
#Hpes img{
	position: relative;
	left: 73%;
	width: 25px;
	height: 25px;
	top: 45px;
	
}
#HprodF{
	position: relative;
	left: 72%;
	font-weight: 700;
	font-size: 15px;
	top: 39px;
	color: gray;
	font-family: "Segoe UI"
}
#HprodF:hover{
    color: black;
}
#Hprod{
	position: relative;
	left: 70%;
	font-weight: 700;
	font-size: 15px;
	top: 39px;
	color: black;
	font-family: "Segoe UI"
}
#Home{
	position: relative;
	left: 68%;
	font-weight: 700;
	font-size: 15px;
	top: 40px;
	color: gray;
	font-family: "Segoe UI"
}
#Home:hover{
color: black;
}
#IconEmpresa {
    width: 240px;
    height: 60px;
    margin-left: 3%;
    top: 30px;
    position: absolute ;
    -moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
    
}
.catalogo{
	position: absolute;
	width: 100%;
	height: 100px;
	background: red;
	top: 160px;
}
.woocommerce-ordering{
	position: absolute;
	left: 80%;
	top: 30%;
	
}
.orderby{
  height: 40px;
  border-radius: 20px;
  background: red;
  color: white;
  border: 2px solid white;
}
.cat-ini{
	position: relative;
	color: white;
	margin-left: 40px;
	top: 35px;
	font-weight: 700;
	font-size: 20px;
	font-family: "Segoe UI";
	text-decoration: none;
}
.cat-cat{
	position: absolute;
	color: white;
	margin-left: 80px;
	top: 35px;
	left: 60px;
	font-weight: 700;
	font-size: 20px;
	font-family: "Segoe UI";
	text-decoration: none;
	
}
#barra{
	position: relative;
	left: 120px;
	color: white;
}
.linha{
    position:absolute;
    width: 7%;
    height: 3px;
    background-color: lightgray;
    top: 350px;
    left: 7%;
}
.sidebar{
	height: 400px;
	width: 40%;
	position: absolute;
	top: 40%;
	
}
.h2-cat{
	position: relative;
	color: black;
	left: 5%;
	top: 50px;
	font-weight: 700;
	font-size: 20px;
	font-family: "Segoe UI";
	text-decoration: none;
}
.catpro{
	display: flex;
	flex-direction: column;
	position: relative;
	left: 30px;
	width: 230px;
	margin-top: 10px;
	top: 70px;
	text-decoration: none;
	color: orangered;
	font-size: 20px;
	font-family: "Segoe UI";
	font-weight: 700;
}
.catpro:hover{
	color: red;
	font-size: 25px;
	width:  300px;
}

.linha1{
	position:absolute;
    width: 40%;
    height: 2px;
    background-color: lightgray;
    top: 150px;
    left: 6%;

	margin-top: 10px;
}
.linha2{
	position:absolute;
    width: 40%;
    height: 2px;
    background-color: lightgray;
    top: 187px;
    left: 6%;

	margin-top: 10px;
}
.linha3{
	position:absolute;
    width: 40%;
    height: 2px;
    background-color: lightgray;
    top: 224px;
    left: 6%;

	margin-top: 10px;
}
.linha4{
	position:absolute;
    width: 40%;
    height: 2px;
    background-color: lightgray;
    top: 261px;
    left: 6%;

	margin-top: 10px;
}

.order{
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 70%;
	margin-left: 25%;
	top: 50%;
	border: 1px solid black;
}
.first{
	display: flex;
	flex-direction: row;
	margin-left: 80px;
	
}
.second{
	display: flex;
	flex-direction: row;
	margin-left: 80px;
}
.three{
	display: flex;
	flex-direction: row;
	margin-left: 80px;
}
.four{
	display: flex;
	flex-direction: row;
	margin-left: 80px;
}
.order img{
	width: 250px;
	height: 270px;
}
h3{
	font-size: 10px;
	margin-left: 70px;
	font-family: "Segoe UI";
	font-weight: 700;
	color: gray;
}
.img{
	 margin-right: 20px;	
}
.a{
	margin-right: 30px;
	margin-left: 18px;
	margin-bottom: 10px;
	text-decoration: none;
	 color: orangered;
	 
	 font-family: "Segoe UI";
	 font-weight: 700;
	 
}
.a:hover{
	color: red;
	font-size: 20px;
}
